@using SkytearHorde.Business.Controllers;
@using SkytearHorde.Entities.Models.ViewModels;
@model ForgotPasswordViewModel

@if (Model.SuccessResetModel)
{
    <p>Your password has succesfully been reset!</p>
}else if (Model.SuccessPostModel)
{
    <p>An email with a password recovery link has been sent to your email.</p>
}
else if (!string.IsNullOrWhiteSpace(Model.Code)){
    @using (Html.BeginUmbracoForm<AccountController>("ResetPassword", null, new { @class = "login" }))
    {
        <h1>Reset password</h1>
        @Html.HiddenFor(it => it.ResetPostModel.Code)
        <div class="form-field">
            @Html.LabelFor(it => it.ResetPostModel.NewPassword)
            @Html.PasswordFor(it => it.ResetPostModel.NewPassword, new {@class = "form-input text-black"})
            @Html.ValidationMessageFor(it => it.ResetPostModel.NewPassword)
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">
                Reset password
            </button>
        </div>
    }
}else{
    @using (Html.BeginUmbracoForm<AccountController>("ForgotPassword", null, new { @class = "login" }))
    {
        <h1>Forgot password</h1>
        <div class="form-field">
            @Html.LabelFor(it => it.PostModel.Email)
            @Html.TextBoxFor(it => it.PostModel.Email, new {@class = "form-input"})
            @Html.ValidationMessageFor(it => it.PostModel.Email)
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">
                Submit
            </button>
        </div>
    }
}